.secao-metas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
}

.meta{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
}